.app {
  background-color: black;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.yellowBtn,
.infoButton {
  font-size: 14px;
  color: #f8e81c;
  text-decoration: none;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
}
.yellowBtn:hover,
.infoButton:hover {
  color: #9a9114;
  cursor: pointer;
}

.app__playbtn {
  font-size: 18;
  font-family: 'Press Start 2P', cursive;
  height: 50px;
  width: 200px;
  color: white;
  background-color: #006f99;
  outline: none;
  border: none;
  border-radius: 2px;
  text-align: center;
}
.app__playbtn:hover {
  cursor: pointer;
  background-color: #00445d;
}

.about {
  width: 500px;
  height: 300px;
  flex-direction: column;
}
.about__header {
  color: #e91e63;
  font-family: 'Press Start 2P', cursive;
  font-size: 36px;
}
.about__content {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
}

.howToPlay {
  width: 500px;
  flex-direction: column;
}
.howToPlay__header {
  color: #e91e63;
  font-size: 36px;
  font-family: 'Press Start 2P', cursive;
}
.howToPlay__info {
  font-family: 'Press Start 2P', cursive;
  color: black;
  margin: 30px;
  line-height: 1.75;
  font-size: 14px;
}

button.sweetalert_confirm.swal2-confirm {
  font-family: 'Press Start 2P', cursive;
  background-color: #81c784;
  outline: 0;
  margin: 0;
  border: 0;
  border-radius: 2px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  vertical-align: middle;
  min-width: 110px;
  font-size: 16px;
}

#player-list {
  margin-top: 30px;
  list-style-type: none;
  padding: 0;
  font-size: 18;
  font-family: 'Press Start 2P', cursive;
}
